name: Build

on:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Prepare Linux
        run: |
          sudo apt-get update -y
          sudo apt install build-essential git
          sudo apt install libasound2-dev libx11-dev libxrandr-dev libxi-dev libgl1-mesa-dev libglu1-mesa-dev libxcursor-dev libxinerama-dev libwayland-dev libxkbcommon-dev cmake

      - name: Building and Installing Raylib
        run: |
          git clone https://github.com/raysan5/raylib.git raylib
          cd raylib
          mkdir build && cd build
          cmake -DCUSTOMIZE_BUILD:BOOL=ON -DSUPPORT_CUSTOM_FRAME_CONTROL:BOOL=ON ..
          make
          sudo make install
          sudo ldconfig

      - name: Build BEDW
        run: |
          make

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BEDW-ubuntu-22.04
          path: build
  build-windows:
    runs-on: windows-2022
    steps:
      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v3
        with:
          platform: x86

      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Building and Installing Raylib
        run: |
          git clone https://github.com/raysan5/raylib.git raylib
          cd raylib
          mkdir build && cd build
          i686-w64-mingw32-cmake -DCUSTOMIZE_BUILD:BOOL=ON -DSUPPORT_CUSTOM_FRAME_CONTROL:BOOL=ON ..
          i686-w64-mingw32-make
          sudo i686-w64-mingw32-make install
      
      - name: Build BEDW
        run: |
          i686-w64-mingw32-make
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BEDW-ubuntu-22.04
          path: build


